[submodule "themes/hexo-theme-woolen"]
	path = themes/hexo-theme-woolen
	url = https://github.com/sanmaopep/hexo-theme-woolen.git
[submodule "resume"]
	path = resume
	url = git@github.com:sanmaopep/resume.git
